@font-face {
  font-family: "Ownglyph_ParkDaHyun";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2411-3@1.0/Ownglyph_ParkDaHyun.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  background-image: url("images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  font-family: "Ownglyph_ParkDaHyun";
}

.container {
  background-color: rgb(240, 247, 255);
  border-radius: 60px;
  width: 90%;
  max-width: 600px; /* 너무 넓어지는 걸 방지 */
  min-height: 80vh;
  margin: 50px auto;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.container h1 {
  padding-top: 20px;
  color: rgb(31, 92, 222);
  text-align: center;
}

#task-input {
  border: 2px solid rgb(93, 160, 241);
  border-radius: 10px;
  width: 100%;
  max-width: 250px;
  padding: 10px;
  box-sizing: border-box;
  outline: none;
}

.input-area {
  text-align: center;
}

#add-button {
  border: 3px solid rgb(9, 79, 219);
  border-radius: 5px;
  background-color: rgb(9, 79, 219);
  color: rgb(255, 255, 255);
  font-weight: 800;
  font-size: 20px;
  text-align: center;
  width: 100%;
  max-width: 80px;
  margin-top: 10px;
}

.task-tabs {
  display: flex;
  border-bottom: 2px solid rgb(205, 214, 255);
  position: relative;
  font-weight: 800;
  font-size: 20px;
  color: rgb(61, 118, 251);
}

.task-tabs div:hover {
  color: rgb(9, 79, 219);
}

.task-tabs div {
  padding: 1em;
}

#under-line {
  border-radius: 5px;
  background-color: rgb(255, 211, 54);
  position: absolute;
  height: 4px;
  width: 60px;
  left: 0px;
  top: 52px;
  padding: 0px;
}

.task {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  font-size: 25px;
  font-weight: 600;
}

.task-done {
  text-decoration: line-through;
}

.check-button {
  width: 30px;
  margin-left: 30px;
}
.check-button:hover,
.delete-button:hover {
  filter: brightness(60%);
}

.delete-button {
  width: 30px;
  margin-left: 30px;
}

.task-tabs div {
  cursor: pointer;
}

#task-board {
  overflow-y: auto;
  height: 480px;
}
